.main{
    position: absolute;
   top: 60px;
text-align: left;
font: normal normal normal 64px/85px Palatino;
letter-spacing: 0px;
color: #006238;
left: 588px;
opacity: 1;}
.button1{
    position: absolute;
    height: 28px;
    width: 55px;
    color: #006238;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #006238;
    border-radius: 7px;
    opacity: 1;
    left: 728px;
    top: 270px;
}
body{
    position: relative;
}
.homeimg{
    background-image: url(../public/lens-1418954@2x.png);
    
    left: 260px;
    width: 290px;
   height: 450px;
   top: 50px;
    position: absolute;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-size: 100% 100%;

}