.ul {
position: relative;
    list-style-type: none;
 
}
.page{
    /* text-align: center; */
    margin: 40px 440px;
    width: 450px;
    border: groove;
    border-radius: 4%;
    position: relative;
    border-style: outset;
    height: 400px;
}
/* .li{
    position: relative;
} */
.img{
   
    margin-left: -40px;
    height: 221px;
    width: 110%;
}
#name{
    text-align: left;
font: normal normal bold 18px/22px Helvetica;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
#description{
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 3%;
}
#location{
    text-align: left;
font: normal normal normal 14px/19px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.heart{
    
        background-image: url('../public/heart.png');
        /* top: 25px; */
        position: absolute;
        /* right: 88px; */
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        margin-top: 1%;
       
    }

.share{
    
    background-image: url('../public/share.png');
    /* top: 25px; */
    position: absolute;
    /* right: 88px; */
    margin-left: 14%;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    margin-top: 1%;
   
}
.like{
    text-align: left;
font: normal normal normal 15px/18px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
margin-top: 10%;
}
.addpost{
   
   text-decoration: none;
   position: absolute;
   top: 100px;
   right: 0%;
   font: normal normal normal 34px/55px Palatino;
   border-radius: 5%;
   border: groove;
   border-color: aliceblue;
}
/* .addpost:hover{
    background-color: aquamarine;
} */
.date{
    margin-left: 282px;
}
.page:hover{
    
    
    background: url(../public/emoji-emoticon-character-background-collection-3d-rendering_601748-39874.jpg);
}
#dot{
    position: absolute;
    bottom: 328px;
    right: 20px;
}
.navbar{
    position: static
}